body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: rgb(241, 241, 233);
}

#cy {
  height: 80%;
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
}